@import "../mixins/mixins.scss";
@import "./common/var.scss";

@include b(alert){
    width: 100%;
    padding: $--alert-padding;
    margin: 0em;
    box-sizing: border-box; 
    border-radius: $--alert-border-radius;
    position: relative;
    background-color: $--color-white;
    overflow: hidden;
    opacity: 1;
    display: flex;
    align-items: center;
    transition: opacity .2s;

    @include when(light){
        .z-alert__closebtn{
            color: $--color-text-placeholder;
        }
    }

    @include when(dark){
        .z-alert__closebtn{
            color: $--color-white;
        }
        .z-alert__description{
            color: $--color-white;
        }
    }

    @include m(success){
        &.is-light{
            background-color: $--color-success-lighter;
            color: $--color-success;

            .z-alert__description{
                color: $--color-success;
            }
        }

        &.is-dark{
            background-color: $--color-success;
            color: $--color-white;
        }
    }

    @include m(info){
        &.is-light{
            background-color: $--color-info-lighter;
            color: $--color-info;

            .z-alert__description{
                color: $--color-info;
            }
        }
    }

    @include m(warning){
        &.is-light{
            background-color: $--color-warning-lighter;
            color: $--color-warning;
        }
    }
}