@import "../mixins/mixins.scss";

@include b(button){
    background-color:$--color-whiteSmoke;
    position: relative;
    top: -6px;
    display: inline-block;
    vertical-align: middle;
    border-radius: $--border-radius-base;
    font-size: inherit;
    font-family: inherit;
    color: $--color-text;
    height: 100%;

    &.z-button--default{
        box-shadow: 0 0 0 1px #ebebeb inset, 
        0 0 0 2px rgba(255, 255, 255, 0.10) inset, 
        0 8px 0 0 #BEBEBE, 
        0 8px 8px 1px rgba(0, 0, 0, .2);
    }

    &:hover{
        background-color: mix($--color-whiteSmoke, $--color-grey, 90%);
        
    }
}