@import "../mixins/mixins.scss";

@include b(button){
    background-color:$--color-white;
    position: relative;
    top: -6px;
    margin: 5px;
    box-sizing: border-box;// 盒子模型中的border-box模型
    line-height: 1;// 设置行高
    display: inline-block;
    vertical-align: middle;
    border: 0;
    border-radius: $--border-radius-base;
    font-size: inherit;
    font-family: inherit;
    color: $--color-text;

    &:active{
        top: 2px;
    }
    &.z-button--default{
        box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.1) inset,
        0 8px 0 0 #bebebe , 0 8px 8px 1px rgba(0,0,0,.2);
        &:active{
            background-color: $--color-white;
            box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,.15) inset,
            0 1px 3px 1px rgba(0,0,0,.2);
        }
    }
}