/* color common various */
$--color-white: #ffffff !default;
$--color-whiteSmoke: #F5F5F5 !default;
$--color-grey: #1c1c1c;

/* shape helps */
$--border-radius-base: 4px !default;

/* theme : light/black */
$accent: 'light' !default;

$--font-path:'fonts' !default;
$--font-display:'auto' !default; // 这个的!default 是怎么含义？

$--color-text: $--color-grey;
$--color-text-placeholder: #c0c4cc !default;

/* alert */
$--alert-padding: 8px 16px !default;
$--alert-border-radius: $--border-radius-base !default;

$--color-success: #67C23A !default;
$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;

$--color-info: #909399 !default;
$--color-info-lighter:mix($--color-white, $--color-info, 90%) !default; // mix() is a scss function ,which to mix two colors.

$--color-warning: #E6A23C !default;
$--color-warning-lighter:mix($--color-white,$--color-warning, 90%) !default;

$--color-error: #F56C6C !default;
$--color-error-lighter: mix($--color-white, $--color-error,90%);

$--alert-icon-size: 16px !default;
$--alert-icon-large-size: 28px !default;
$--alert-close-font-size: 12px !default;
$--alert-title-font-size: 13px !default;
$--alert-description-font-size: 12px !default;